<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA compatible" content="ie-edge">
        <title>Create account</title>
        <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />

    </head>
    <body>
         <div class="box2">
                <div id="asider">
                    </t></t></t></t></t></t></t></t></t></t></t></t></t>Create an account here<br><br>
                    <input placeholder="Name" type="text" class="namebox" name="username"/><br>
                    <input placeholder="Organisation" type="text" class="namebox" name="org"/><br>
                    Gender:<input type="radio" name="gender" value="male"> Male<input type="radio" name="gender">Female  <br>
                    Register As:<input type="radio" name="usertype" value="Driver"> Driver<input type="radio" name="usertype" value="Passenger">Passenger  <br>
                    <input placeholder="PhoneNumber" type="text" class="namebox" name="username"/><br>
                    <input placeholder="Birthyear" type="text" class="namebox" name="username"/><br>
                    <input placeholder="Email" type="text" class="namebox" name="username"/><br>
                    <input placeholder="Password" type="password" class="namebox" name="username"/><br>
                    <input placeholder="Confirm Password" type="password" class="namebox" name="username"/>
                  <br> By clicking submit you agree with our <a href="terms.txt" alt="Please, revisit next time">Terms and Conditions.</a>
                   <a href="mainpage.html"><input type="submit" name="" value="Submit" class="btn"></a>
                                       </div> 
                <div class="img1"><a href="login.html" ><img src="assets/images/lg.png" alt="LOGO"></a>

                <h3>Ride-My-Way helps you connect with people<br> around you and share rides.</h3><br><br>
                </div>
                
                                   
                
                <img src="assets/images/aside.jpg" alt="Image failed to load!" aria-setsize="100">
           
               
           
               
                    
        </div>
       
    </body>
</html>