<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA compatible" content="ie-edge">
        <title>Ride My Way</title>
        <link rel="stylesheet" type="text/css" href="assets/css/styles.css" >

    </head>
    <body>
        
        <div class="container" style="text-align: center;" >
            <div style="size:200"><img src="assets/images/logo4.png" alt="LOGO"></div>
           <h2>Need an affordable way to keep you connected to Life? <div style="color: rgb(10, 26, 88)">Ride-My-Way</div> will get you there for Less...           </h2>
            <div><a href="login.html" class="btn">Get Started</a></div>
        </div>
            
        </div>
    </body>
</html>