<html>
<head>
    <meta charset="utf-8">
    <title>Ride-My-Way</title>
  <link rel="stylesheet" href="assets/css/styles.css">
   </head>
<body>
    <div class="box3">
        <div class="header--one">
          <ul class="head1"> 
         <li> <a href="index.html"> <img src="assets/images/lg.png" alt="LOGO"></a></li>
           <li> <ul class="header--one--notifywithname">
                <li>
                    <span class="text--greeting--grey">Hello,</span>
                    <span class="text--primary">Robinah</span>
                  </li>
                <!-- I need to put a dropdown here--
                <li>
                  <a href="#" class="notification">
                    2 new msg</a>
                </li>-->
            </ul></li>
          </ul>
        </div>
      <div class="header--two">
                <ul class="navigator">
                        <li>
                          <a href="mainpage.html" class="home">
                            Home </a>
                        </li>
                        <li>
                          <a href="ride-request.html" class="Drivers">
                         Request Ride
                            </a>
                        </li>
                        <li>
                          <a href="" class="active">
                          Rides Available
                         </a>
                        </li>
                        <li>
                          <a href="rides-history.html" class="history">
                          My Ride History
                         </a>
                        </li>
                        <li>
                          <a href="logout.html">
                          Logout
                         </a>
                        </li>
                  </ul>
       </div>
       <div class="content-main">
          <div class="content1">Allan@Mukono is riding to Jinja<a href="mainpage2.html"class="viewer">Request this ride</a><a href="view-ride.html"class="viewer">View</a></div>
          <div class="content1">Monday@Entebbe is riding to Kawempe<a href="mainpage2.html"class="viewer">Request this ride</a><a href="view-ride1.html"class="viewer">View</a></div>
         <div class="content1">Akol@Jinja is riding to Bombo<a href="mainpage2.html"class="viewer">Request this ride</a><a href="view-ride.html" class="viewer">View</a></div>
         </div>
              
    </div>
</body>
</html>