<html>
<head>
    <meta charset="utf-8">
    <title>ride my way</title>
  <link rel="stylesheet" href="assets/css/styles.css">
 </head>
<body>
  <div class="box3">
    <div class="header--one">
      <ul class="head1"> 
     <li> <a href="index.html"> <img src="assets/images/lg.png" alt="LOGO"></a></li>
       <li> <ul class="header--one--notifywithname">
            <li>
                <span class="text--greeting--grey">Hello,</span>
                <span class="text--primary">Robinah</span>
              </li>
            <!-- I need to put a dropdown here--
            <li>
              <a href="#" class="notification">
                2 new msg</a>
            </li>-->
        </ul></li>
      </ul>
    </div>
  <div class="header--two">
            <ul class="navigator">
                    <li>
                      <a href="mainpage.html" class="home">
                        Rides Created </a>
                    </li>
                    <li>
                      <a href="offer-drive.html" class="active">
                       Offer Ride
                        </a>
                    </li>
                    <li>
                      <a href="request.html" class="passengers">
                       Requests
                     </a>
                    </li>
                    <li>
                      <a href="rides-history.html" class="history">
                      My Ride History
                     </a>
                    </li>
                    <li>
                      <a href="logout.html" >
                      Logout
                     </a>
                    </li>
              </ul>
   </div>
   
            
   
<!--new ride-->
<h3 style="margin-left: 510"> Drivers' Page | add new ride </h3>
   
      <div class="ride-table">
    <form action="" method="POST">
    <table style="border-collapse: collapse; width:100%;">
      <tr >
        <th class="thead">Date</th>
        <td class="tdata"><input type="text" name="datepicker" id="datepicker" required length="400"/></td>
      </tr>
      <tr>
        <th class="thead">License number</th>
        <td class="tdata" ><input type="text" name="licenseNo" required /></td>
        </tr>
        <tr>
          <th class="thead">Vehicle Number</th>
          <td class="tdata" ><input type="text" name="licenseNo" required /></td>
          </tr>
        <tr>
        <th class="thead">From</th> 
        <td class="tdata" ><input type="text" name="deptfrom" required /></td> 
        </tr>
        <tr>
            <th class="thead">Destination</th>
            <td class="tdata" ><input type="text" name="goingto" required /></td>
        </tr>
      
      <tr>
        <th class="thead">Car Category</th> 
        <td class="tdata" >
            <select name="seat_category" required>
              <option disabled="disabled" selected="selected">Select a Category</option>
              <option value="Ordinary">Ordinary</option>
              <option value="Luxury">Luxury</option>
          </select>
          </td>
        
      <tr>
        <th class="thead">Fare/Seat</th>
        <td class="tdata" ><input type="text" name="fare" required /></td>
      </tr>
      <tr> 
          <th class="thead">Route to be taken</th>
          <td class="tdata" ><input type="text" name="route" required /></td>
       </tr>
      <tr>
        <th class="thead">Availability Time</th>
                    <td class="tdata" ><input type="text" name="start-time" id="start-time" required="required" /> <br>
                      <input type="text" name="stop-time" id="stop-time" required="required" /></td>
             </tr>
             
    </table>
  
    
        <input type="submit" name="submit" value="Add Trips" class="btn" style="margin-left: 120; width: 200px;" />

    </form>
  </div>
  
 
<br/> <br/>
    <header>
    <nav>
        <ul>
          <li><a href="../about.php">About</a></li>
          <li><a href="../contact.php">Contact</a></li>
          <li class="phone"><a href="tel:+256704130670">+256-704130670</a></li>
        </ul>
      </nav>
      <div align="center" style="padding-top: 10px">
          <h2>Copyright&copy;2018</h2>
          <a href="http://www.facebook.com"><img src="images/facebook-wrap.png" alt="Facebook Logo" width="35" height="30"></a>
          <a href="http://twitter.com"><img src="images/twitter-wrap.png" alt="Twitter Logo" width="35" height="30"></a>
          <a href="http://plus.google.com"><img src="images/google-wrap.png" alt="GooglePlus Logo" width="35" height="30"></a>
      </div>
    </header>
  </div>    
</body>
</html>